<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Area</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,600;1,700&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/30c799dc65.js"></script>
</head>
<body>

    <section class="login-header">
        <nav>
            <a href="index.html"><img src="images/FINAL_CEC_LOGO.svg" alt=""></a>
                <div class="nav-links" id="navLinks">
                    <i class="fa-solid fa-rectangle-mark" onclick="hideMenu()"></i>
                    <ul>
                        <li><a th:href="@{/account}">MAIN</a></li>
                        <li><a th:href="@{'/register'}">REGISTER</a></li>
                        <li><a th:href="@{/account}">VIEW USERS</a></li>
                        <li><a href="">LOGOUT</a></li>
                    </ul>
                </div>
                <i class="fa-solid fa-bars" onclick="showMenu()"></i>
        </nav>
        <h1>Users</h1>
    </section>



</body>
</html>